* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./docs/assets/images/casino.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas {
    border: 2px solid black;
    margin-top: 30px;
    background-color: white;
    opacity: 0.6;
    box-shadow: 20px 20px 5px black;
}

#canvas-body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 15px; */
}


#higherLowerSelector {
    border: 2px solid black;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 10px;
    margin: 10px;
    padding: 10px;
}